extend ../layout
block content
	table
		tr
			th Train Name
			th Departure
			th Arrival
			th Status
		each train in trains
			tr
				td #{train.name}
				td #{train.departure}
				td #{train.arrival}
				td #{train.status}
